<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title><%- title %></title>
    <style>
        .logout-btn {
            background: none;
            border: none;
            cursor: pointer;
            color: blue;
            text-decoration: underline;
            font-size: inherit;
            padding: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/restricted">Restricted</a></li>
            <% if (!user) { %>
                <li><a href="/auth/register">Register</a></li>
                <li><a href="/auth/login">Login</a></li>
            <% } else { %>
                <li>
                    <form action="/auth/logout" method="POST">
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </li>
            <% } %>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>

    </footer>
</body>
</html>