<h1>Home</h1>

<% if (!user) { %>
<h1>this is restricted area only for authenticated users</h1>
<% } else { %>
<pre>
    <code>
        <%= JSON.stringify(user, null, 4) %>
    </code>
</pre>
<% } %>



